@use "GlobalStyle" as global;

// Light Theme Colors
$primaryFontColorLight: #222333;
$secondaryFontColorLight: #6b6b6d;
$lightFontLight: #efefef;
$primaryBGLight: #ffffff;
$secondaryBGLight: #efefef;

// Dark Theme Colors
$primaryFontColorDark: #ffffff;
$secondaryFontColorDark: #a4a4a5;
$lightFontDark: #efefef;
$primaryBGDark: #2c2c34;
$secondaryBGDark: #161616;